{{- define "main" }}

<div class="three-column-layout">
    {{ partial "sidebar-left.html" . }}

    <main class="terms-page-wrapper">
        {{- if .Title }}
        <header class="page-header">
            {{- partial "breadcrumbs.html" . }}
            <h1>{{ .Title }}</h1>
            {{- if .Description }}
            <div class="post-description">
                {{ .Description }}
            </div>
            {{- end }}
        </header>
        {{- end }}

        <div class="terms-main">
            <div class="terms-cards">
                {{- $type := .Type }}
                {{- range $key, $value := .Data.Terms.Alphabetical }}
                {{- $name := .Name }}
                {{- $count := .Count }}
                {{- with site.GetPage (printf "/%s/%s" $type $name) }}
                <article class="term-card">
                    <a class="term-link" href="{{ .Permalink }}"></a>
                    <h2 class="term-title">{{ .Name }}</h2>
                    <div class="term-count">{{ $count }} 篇文章</div>
                </article>
                {{- end }}
                {{- end }}
            </div>
        </div>
    </main>

    {{ partial "sidebar-right.html" . }}
</div>

{{- end }}{{/* end main */ -}}
